*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: #222;
}

.weather{
    width: 90%;
    max-width: 470px;
    margin: 30px auto 0;
    color: #fff;
    background: linear-gradient(135deg, #4582ec, #4f8c9a);
    border-radius: 20px;
    padding: 40px 20px;
    text-align: center;
    
}

.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input{
    outline: 0;
    border: 0;
    color: #222;
    width: 65%;
    height: 60px;
    padding: 20px 10px;
    margin-left: 30px;
    border-radius: 30px;
    font-size: 20px;
}

.search button{
    outline: 0;
    border: 0;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 35px;
    cursor: pointer;
}

.search button img{
    width: 30px;
}

.weather-detail {
     margin-top: -10px;
     display: none;
}
.weather-detail h1{
       font-size: 50px;
}

.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.details img{
    width: 30px;
}

.temp, .humidity{
    font-size: 20px;
}

.name {
    font-size: 25px;
    font-style: inherit(width34px);
    font-weight: 600;
}
    


.weather-detail h2 {
    font-size: 45px;
}

